@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');
@config "../../tailwind.config.js";
@import "tailwindcss";

:root {
  --background: #151515;
  --foreground: #ededed;
  --border: #3f3f46;
  --muted: #a7a7a7;
  --primary: #ffffff;
  --secondary: #d4d4d8;
  --accent: #fb923c;
  --button: #ffffff;
  --button-foreground: #000000;
  --dropdown: #1a1a1a;       /* mais claro que o background escuro */
  --dropdown-hover: #2a2a2a; /* realce sutil ao passar o mouse */
  --navbar: #1f1f1f;
  --footer: #1f1f1f;
  --linkedin: #0077b5;
  --error: #b3261e;
  --pure-white: #ffffff;
  --text-white: #ffffff;
}

.light {
  --background: #ffffff;
  --foreground: #171717;
  --border: #e4e4e7;
  --muted: #52525b;
  --primary: #000000;
  --secondary: #3f3f46;
  --accent: #f97316;
  --button: #666666;
  --button-foreground: #ffffff;
  --dropdown: #f9f9f9; /* mais claro que background claro */
  --dropdown-hover: #f0f0f0;
  --navbar: #D7D7D7;
  --footer: #D7D7D7;
  --linkedin: #0077b5;
  --error: #b3261e;
  --pure-white: #ffffff;
  --text-white: #333333;
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    fill 0.3s ease,
    stroke 0.3s ease;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
